<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-AzureDep" rolesCookieName=".SFROLES-AzureDep" validationKey="3068588A02174DF463A0CE59A8D693BDA7A00423B60117719F22FE7CE73D871C93A10312D4324FDBD578F53A4441EACC3752E612574F1F5F0B9CFB248B35626A" decryptionKey="5551FEAE72A140A1E6F05BFBDD49F2FD72A3A84C997DABC2C7A2C615240058F5" loggingCookieName=".SFLOG-AzureDep">
	<securityTokenIssuers>
		<add key="8907D1C5BA627183D350B7D78F36FC9655FE8C1BE6F2A690541DA0FB17BE1445" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="8907D1C5BA627183D350B7D78F36FC9655FE8C1BE6F2A690541DA0FB17BE1445" realm="http://localhost" />
	</relyingParties>
</securityConfig>